.root {
    -fx-background-color: #696969;
    -fx-font-family: Arial;
    -fx-font-size: 10pt;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-padding: 4 10 4 10;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-radius: 8,7,6;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-width: 1;
    -fx-border-radius: 8,7,6;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-field {
    -fx-text-box-border: transparent;
    -fx-background-color: darkgray;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

.text-area {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-color: darkgray;
}

.text-area .content {
    -fx-text-box-border: #696969;
    -fx-background-color: darkgray;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
